@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;600;700&family=Inter:wght@400;500;600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-body;
}

@layer base {
  button {
    font-family: inherit;
  }
}

@layer base {
  button,
  input,
  select,
  textarea {
    font-family: inherit;
  }
}
